In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
vine_review_df=pd.read_csv("Resources/vine_table.csv")

In [4]:
vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RED72VWWCOS7S,1.0,2.0,8.0,N,Y
1,RZHWQ208LTEPV,5.0,0.0,0.0,N,Y
2,R37LBC3XAVLYOO,5.0,4.0,5.0,N,Y
3,R3L7XJMA0MVJWC,5.0,0.0,0.0,N,Y
4,R2I2GHSI7T1UBN,1.0,5.0,6.0,N,Y

In [5]:
vine_review_df=vine_review_df.loc[(vine_review_df["total_votes"] >= 20) & (vine_review_df["helpful_votes"]/vine_review_df["total_votes"] >= .5)]

In [6]:
vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N

In [7]:
vine_rv_paid_df=vine_review_df.loc[vine_review_df["vine"]=="Y"]

vine_rv_paid_count=len(vine_rv_paid_df)

#print(f"5 Star paid percent {vine_five_star_paid_percent:.1%}\n"

print(f"Paid vine reviews = {vine_rv_paid_count}")

Paid vine reviews = 386

In [15]:
vine_rv_unpaid_df=vine_review_df.loc[vine_review_df["vine"]=="N"]

vine_rv_unpaid_count=len(vine_rv_unpaid_df)

print(f"Paid (vine) reviews = {vine_rv_paid_count}")
print(f"Unpaid (vine) reviews = {vine_rv_unpaid_count}")

Paid (vine) reviews = 386
Unpaid (vine) reviews = 48717

In [9]:
vine_rv_paid_five_star_df=vine_rv_paid_df.loc[(vine_rv_paid_df["star_rating"]==5)]
five_star_paid_count=len(vine_rv_paid_five_star_df)
print(f"Five star paid reviews = {five_star_paid_count}")

Five star paid reviews = 176

In [14]:
vine_rv_unpaid_five_star_df=vine_rv_unpaid_df.loc[(vine_rv_unpaid_df["star_rating"]==5)]
five_star_unpaid_count=len(vine_rv_unpaid_five_star_df)
print(f"Five star paid reviews = {five_star_paid_count}")
print(f"Five star unpaid reviews = {five_star_unpaid_count}")

Five star paid reviews = 176
Five star unpaid reviews = 24026

In [11]:
vine_five_star_paid_percent=five_star_paid_count/vine_rv_paid_count
vine_five_star_paid_percent

0.45595854922279794

In [12]:
vine_five_star_unpaid_percent=five_star_unpaid_count/vine_rv_unpaid_count
vine_five_star_unpaid_percent

0.493174867089517

In [46]:
print(f"5 Star paid percent {vine_five_star_paid_percent:.1%}\n"
      f"5 Star unpaid percent {vine_five_star_unpaid_percent:.1%}")

5 Star paid percent 45.6%
5 Star unpaid percent 49.3%